@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rajdhani", sans-serif;
  color: #e5e7eb;
  background: #0a0a0a;
  overflow-x: hidden;
}

/* Curseur personnalisé (optionnel) */
* {
  cursor: default;
}

a,
button {
  cursor: pointer;
}
